# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:8001/api
NEXT_PUBLIC_AUTH_REDIRECT_URL=http://localhost:3000

# Better Auth Configuration
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000/api/auth
BETTER_AUTH_SECRET=94200af03c0f5f31f2b57aee49b6aa0e0afd21d843b92cb2bfacbd758223433d

# Environment
NEXT_PUBLIC_ENVIRONMENT=development
